.index-page p{
color: #9ca3af;
}

.simple-text{
    font-size: 3rem; /* Tamaño grande */
  font-weight: 800; /* Negrita */
    color: white;
}
.gradient-text {
  font-size: 3rem; /* Tamaño grande */
  font-weight: 800; /* Negrita */
  background: linear-gradient(to right, #d946ef, #a78bfa, #60a5fa); /* rosa → violeta → azul */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Para Firefox */
  text-fill-color: transparent;
}

.gradient-text2 {
    font-size: 3rem; /* Tamaño grande */
    font-weight: 800; /* Negrita */
    background: linear-gradient(to right, #a78bfa, #60a5fa); /* rosa → violeta → azul */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Para Firefox */
    text-fill-color: transparent;
}
.content-layout {
    max-width: 1200px;
    margin:0 auto;
    padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap; /* Para adaptabilidad en pantallas pequeñas */
}

/* Texto */
.hero-text {
  flex: 1;
  min-width: 280px;
    margin: 90px auto 0 auto;
}

/* Panel */
.trading-panel {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.trading-panel {
  background-color: #0e0e13;
  border: 1px solid rgba(124, 58, 237, 0.3);
  border-radius: 15px;
  padding: 30px;
  position: relative;
  color: black;
  max-width: 600px;
  margin: 90px auto;
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.2);
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.panel-header h3 {
  margin: 0;
  font-weight: 600;
    color: white;
}

.live-indicator {
  color: #00ff73;
  font-size: 0.9rem;
}

.price-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.card-crypto  {
  flex: 1;
  border-radius: 30px;
  background-image: radial-gradient(circle at 30% 40%, rgba(247, 147, 26, 0.15), transparent 70%);
  border: 1px solid rgba(247, 147, 26, 0.3);
  padding: 15px;
  box-shadow: 0 0 20px rgba(247, 147, 26, 0.2);
}
.card-crypto:hover {
  border-color: rgba(247, 147, 26, 0.61);
  box-shadow: 0 0 25px rgba(247, 147, 26, 0.45);
}

.card-crypto-eth  {
  flex: 1;
  background-image: radial-gradient(circle at 30% 40%, rgba(60, 60, 61, 0.39), transparent 60%);
  border: 1px solid rgba(60, 60, 61, 0.57);
  border-radius: 30px;
  padding: 15px;
  transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(60, 60, 61, 0.2);
}


.card-crypto-eth:hover {
  border-color: rgba(60, 60, 61, 0.81);
  box-shadow: 0 0 25px rgba(227, 222, 218, 0.38);
}

.card-title {
  font-size: 0.95rem;
  color: white;
  display: flex;
  margin-bottom: 10px;
}

.green {
  color: #00ff73;
  font-weight: 500;
}

.blue {
  color: #4db3ff;
  font-weight: 500;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.chart-placeholder {
  margin-top: 20px;
  background-color: #101018;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #bbb;
  border: 1px solid rgba(124, 58, 237, 0.1);
}

.icon {
  margin-right: 8px;
}

.text-Market-content{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
}
.gradient-button {
  padding: 1em 2em;
  background: linear-gradient(to right, #7c3aed, #ab80f3); /* morado a blanco */
  color: white; /* texto oscuro para contraste */
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(124, 58, 237, 0.3);
}

.gradient-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(124, 58, 237, 0.5);
}
.gradient-button2 {
  padding: 1em 2em;
  background: #0a0a0f; /* morado a blanco */
  color: mediumpurple; /* texto oscuro para contraste */
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-color: #7c3aed;
  border-radius: 10px;
  cursor: pointer;
}

.gradient-button2:hover {
  background-color: #1c0c2d; /* morado muy oscuro */
  box-shadow: 0 0 12px rgba(124, 58, 237, 0.4); /* ligero resplandor */
}

.text-Market{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.four-cards-crypto{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 40px 40px;
  padding: 20px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card-crypto-dot{
   flex: 1;
    background-image: radial-gradient(circle at 30% 40%, rgba(230, 0, 122, 0.15), transparent 60%);
  border-radius: 30px;
   border: 1px solid rgba(230, 0, 122, 0.25); /* rosa polkadot */
  padding: 15px;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(230, 0, 122, 0.25);
}

.card-crypto-dot:hover {
  border-color: #e6007a;
  box-shadow: 0 0 25px rgba(230, 0, 122, 0.4);
}

.card-crypto-sol{
   flex: 1;
    background-image: radial-gradient(circle at 30% 40%, rgba(0, 255, 163, 0.15), transparent 60%);
  border-radius: 30px;
   border: 1px solid rgba(0, 255, 163, 0.25);
  padding: 15px;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 255, 163, 0.25);
}

.card-crypto-sol:hover {
  border-color: rgba(0, 255, 163, 0.64);
  box-shadow: 0 0 25px rgba(0, 255, 163, 0.25);
}
.card-crypto-xrp{
   flex: 1;
    background-image: radial-gradient(circle at 30% 40%, rgba(37, 170, 225, 0.15), transparent 60%);
  border-radius: 30px;
   border: 1px solid rgba(37, 170, 225, 0.3); /* rosa polkadot */
  padding: 15px;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(37, 170, 255, 0.3);
}

.card-crypto-xrp:hover {
  border-color: rgba(37, 170, 255, 0.67);
  box-shadow: 0 0 25px rgba(0, 255, 163, 0.25);
}
.card-crypto-ltc{
   flex: 1;
  background-image: radial-gradient(circle at 30% 40%, rgba(34, 99, 200, 0.36), transparent 60%);
  border: 1px solid rgba(10, 86, 218, 0.3);
  border-radius: 30px;
  padding: 15px;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(52, 93, 157, 0.44);
}

.card-crypto-ltc:hover {
  border-color: rgba(49, 109, 195, 0.66);
  box-shadow: 0 0 25px rgba(36, 105, 216, 0.58);
}
.crypto-logo{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

    .crypto-cards {
      padding: 10px 15px;
      margin: 2px;
      border-radius: 6px;
      box-shadow: 0 1px 4px rgb(0 0 0 / 0.1);
      max-width: 400px;
    }

.tarjets-winners-losers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.panel-list {
    background-image: radial-gradient(circle at 30% 40%, rgba(124, 58, 237, 0.15), transparent 60%);
  border: 1px solid rgba(124, 58, 237, 0.2);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.crypto-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  gap: 10px;
  box-sizing: border-box;
}

.crypto-row:last-child {
  border-bottom: none;
}

.crypto-name {
  flex: 2;
  font-weight: bold;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: unset;
}

.crypto-price {
  flex: 1.5;
  text-align: center;
  color: #cccccc;
  font-size: 14px;
  white-space: nowrap;
}

.crypto-change {
  flex: 1;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  color: #4caf50;
}

.crypto-change-lost {
  flex: 1;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  color: #ff4d4d;
}

.tarjets-titles{
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 30px;
}
.icon-panel {
  width: 50px;
  height: 50px;           /* Altura igual al ancho para que sea cuadrado */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 30%;
}
.card-crypto-sol2:nth-of-type(1) .icon-panel {
  border: 1px solid rgba(0, 255, 163, 0.25);
  box-shadow: 0 0 10px rgba(0, 255, 163, 0.25);
}

.card-crypto-sol2:nth-of-type(2) .icon-panel {
  border: 1px solid rgba(247, 147, 26, 0.61);
  box-shadow: 0 0 25px rgba(247, 147, 26, 0.45);
}

.card-crypto-sol2:nth-of-type(3) .icon-panel {
  border: 1px solid rgba(49, 109, 195, 0.66);
  box-shadow: 0 0 25px rgba(36, 105, 216, 0.58);
}
.card-crypto-sol2:nth-of-type(4) .icon-panel {
  border: 1px solid rgba(170, 33, 202, 0.62);
  box-shadow: 0 0 10px rgba(182, 23, 200, 0.64);
}

.card-crypto-sol2:nth-of-type(5) .icon-panel {
  border: 1px solid rgba(27, 228, 198, 0.61);
  box-shadow: 0 0 25px rgba(17, 227, 195, 0.45);
}

.card-crypto-sol2:nth-of-type(6) .icon-panel {
  border: 1px solid rgba(204, 103, 30, 0.66);
  box-shadow: 0 0 25px rgba(244, 111, 2, 0.75);
}
.card-crypto-sol2:nth-of-type(7) .icon-panel {
  border: 1px solid rgba(243, 6, 225, 0.75);
  box-shadow: 0 0 25px rgba(211, 17, 218, 0.7);
}

.card-crypto-sol2:nth-of-type(8) .icon-panel {
  border: 1px solid rgba(127, 22, 237, 0.66);
  box-shadow: 0 0 25px rgba(84, 27, 182, 0.58);
}
.card-title-about{
  margin-top: 40px;
  font-weight: bold;
  color: white;
}

.cards-informations{
  display: flex;
  gap: 40px;
  flex-wrap:wrap; /* 3 gaps de 40px entre 4 tarjetas */
  max-width: 1300px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
}

.card-crypto-sol2{
  border-radius: 10px;
 padding: 15px;
  flex: 1 1 22%;
  max-width: 300px;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .cards-informations {
    padding: 70px 20px;
  }

  .card-crypto-sol2 {
    flex: 1 1 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 12px;
    font-size: 0.85rem;
  }
}

.card-crypto-sol2:nth-child(1):hover {
  border-color: rgba(0, 255, 163, 0.64);
  box-shadow: 0 0 25px rgba(0, 255, 163, 0.25);
}

.card-crypto-sol2:nth-child(2):hover {
  border-color: rgba(247, 147, 26, 0.61);
  box-shadow: 0 0 25px rgba(247, 147, 26, 0.45);
}
.card-crypto-sol2:nth-child(3):hover {
  border-color: rgba(49, 109, 195, 0.66);
  box-shadow: 0 0 25px rgba(36, 105, 216, 0.58);

}
.card-crypto-sol2:nth-child(4):hover {
  border-color: rgba(138, 26, 214, 0.64);
  box-shadow: 0 0 25px rgba(159, 21, 220, 0.63);
}

.card-crypto-sol2:nth-child(5):hover{
  border: 1px solid rgba(27, 228, 198, 0.61);
  box-shadow: 0 0 25px rgba(17, 227, 195, 0.45);
}

.card-crypto-sol2:nth-child(6):hover{
  border: 1px solid rgba(204, 103, 30, 0.66);
  box-shadow: 0 0 25px rgba(244, 111, 2, 0.75);
}
.card-crypto-sol2:nth-child(7):hover{
  border: 1px solid rgba(243, 6, 225, 0.75);
  box-shadow: 0 0 25px rgba(211, 17, 218, 0.7);
}

.card-crypto-sol2:nth-child(8):hover{
  border: 1px solid rgba(127, 22, 237, 0.66);
  box-shadow: 0 0 25px rgba(84, 27, 182, 0.58);
}

.text-information{
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-top: 10px;
}