{%extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'index_css/index.css' %}">
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block content %}
<div class="index-page">
  <div class="content-layout">
    <!-- Texto a la izquierda -->
    <div class="hero-text">
      <h1 class="simple-text">Revoluciona tu<br></h1>
        <h1 class="gradient-text">portafolio</h1>
        <h1 class="gradient-text2">Crypto</h1>
      <p>Accede a las herramientas más avanzadas de trading,<br>
          análisis en tiempo real y estrategias profesionales para<br>
          maximizar tus inversiones en criptomonedas.</p>
      <button class="gradient-button">Comenzar Trading</button>
      <button class="gradient-button2">Ver Demo</button>
      <p>Seguridad Bancaria</p>
      <p>Ejecución Instantánea</p>
    </div>

    <!-- Panel a la derecha -->
    <div class="trading-panel">
      <div class="panel-header">
        <h3>Panel de Trading</h3>
        <span class="live-indicator">● En vivo</span>
     </div>

      <div class="price-cards">
      <div class="card">
  <div class="card-title">BTC/USD</div>
  <div class="price" id="btc-price">$--</div>
</div>

<div class="card">
  <div class="card-title">ETH/USD</div>
  <div class="price" id="eth-price">$--</div>
</div>

      <div class="dots">
        <div class="dot left"></div>
        <div class="dot right"></div>
      </div>
    </div>
  </div>
</div>
</div>
    <script>
  async function fetchBTCPrice() {
    try {
      const response = await fetch('https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd');
      const data = await response.json();
      const price = data.bitcoin.usd;

      // Mostrar precio formateado
      document.getElementById('btc-price').innerText = `$${price.toLocaleString()}`;
    } catch (error) {
      console.error('Error al obtener el precio de BTC:', error);
    }
  }

  // Ejecutar al cargar y luego cada 30 segundos
  fetchPrices();
  setInterval(fetchPrices, 20000); // 20 segundos

 async function fetchPrices() {
    try {
      const response = await fetch('https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum,solana&vs_currencies=usd');
      const data = await response.json();

       // Actualizar precios
      document.getElementById('btc-price').innerText = `$${data.bitcoin.usd.toLocaleString()}`;
      document.getElementById('eth-price').innerText = `$${data.ethereum.usd.toLocaleString()}`;
      document.getElementById('sol-price').innerText = `$${data.solana.usd.toLocaleString()}`;
    } catch (error) {
      console.error('Error al obtener el precio de BTC:', error);
    }
  }

  // Ejecutar al cargar y luego cada 30 segundos
  fetchBTCPrices();
  setInterval(fetchPrices, 20000); // 20 segundos
</script>


{% endblock %}