{%extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'index/index.css' %}">
{% endblock %}

{% block content %}
<div class="index-page">
  <div class="content-layout">
    <!-- Texto a la izquierda -->
    <div class="hero-text">
      <h1 class="simple-text">Revoluciona tu<br></h1>
        <h1 class="gradient-text">portafolio</h1>
        <h1 class="gradient-text2">Crypto</h1>
      <p>Accede a las herramientas más avanzadas de trading,<br>
          análisis en tiempo real y estrategias profesionales para<br>
          maximizar tus inversiones en criptomonedas.</p>
      <button class="gradient-button">Comenzar Trading</button>
      <button class="gradient-button2">Ver Demo</button>
      <p>Seguridad Bancaria</p>
      <p>Ejecución Instantánea</p>
    </div>

    <!-- Panel a la derecha -->
    <div class="trading-panel">
      <div class="panel-header">
        <h3>Panel de Trading</h3>
        <span class="live-indicator">● En vivo</span>
     </div>

      <div class="price-cards">
      <div class="card-crypto">
          <span class="card-title"><img class="crypto-logo" src="{% static 'assets/btc.svg' %}" alt="Logo">BTC/USD</span>
            <div class="price" id="btc-price">$--</div>
            <p><span id="btc-change"></span></p>
        </div>

        <div class="card-crypto-eth">
        <div class="card-title">ETH/USD</div>
        <div class="price" id="eth-price">$--</div>
        <p><span id="eth-change"></span></p>
        </div>
    </div>
  </div>
</div>
<div class="text-Market">
<h1>Mercado en Tiempo Real</h1><br>
<p>Mantente al día con los precios y tendencias de las principales<br> criptomonedas del mercado</p>
</div>
</div>
<div class="four-cards-crypto">
        <div class="card-crypto-eth">
            <span class="card-title"><img class="crypto-logo" src="{% static 'assets/dot.svg' %}" alt="Logo">Polkadot</span>
        <div class="card-title">DOT/USD</div>
        <div class="price" id="dot-price">$--</div>
        <p><span id="dot-change"></span></p>
        </div>
         <div class="card-crypto-eth">
             <h6 style="color: aliceblue">Solana</h6>
        <div class="card-title">SOL/USD</div>
        <div class="price" id="sol-price">$--</div>
        <p><span id="sol-change"></span></p>
        </div>
         <div class="card-crypto-eth">
             <h6 style="color: aliceblue">Ripple</h6>
        <div class="card-title">XRP/USD</div>
        <div class="price" id="xrp-price">$--</div>
        <p><span id="xrp-change"></span></p>
        </div>
        <div class="card-crypto-eth">
        <h6 style="color: aliceblue">Litecoin</h6>
        <div class="card-title">LTC/USD</div>
        <div class="price" id="ltc-price">$--</div>
        <p><span id="ltc-change"></span></p>
        </div>
</div>

{% block extra_js %}
  <script src="{% static 'index/index.js' %}"></script>
{% endblock %}


{% endblock %}